body {
    box-sizing: border-box;
    font-family: PT Sans;
    background-color: #222C33;
}

h1 {
    color: #FCF8DF;
    font-size: 175%;
    text-align: center;
}

p {
  padding: 10px;
  margin: 0;
}

#header-nav {
  background-color: #222C33;
  border-radius: 0;
  border: 0;
}

.navbar-brand h1 { /* Restaurant name */
  color: #FFD14C;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p {
  color: #FFD14C;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-top: -5px;
}

.navbar-brand p span {
  vertical-align: middle;
}

.container {
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

section {
    border: 1px;    
    background-color: #FCF8DF;
    height: 250px;
    overflow: auto;
}

h2 {
    float: right;
    border:1px solid black;
    color: #222C33;
    font-size: 125%;
    padding: 5px 20px 5px 20px;
    margin-top: 0;
    margin-bottom: 20px;
}

li {
  background-color: #FCF8DF;
}

ul {
    background-color: #FCF8DF;
    clear: right;
    width: 90%;
}

#Guilin {
    background-color: #FFD14C;
}

#Spicy {
    background-color: #FF7F4D;
}

#Clear {
    background-color: #9EC792;
}


/*Desktop version*/
@media (min-width: 992px) {
    .col-lg-4{
      float: left;
      padding: 15px;
      width: 33.33%;
    }
  }
  
  /*Tablet version*/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
      float: left;
      padding: 15px;
      width: 50%;

    }
    .col-md-12 {
      float: left;
      padding: 15px;
      width: 100%;
    }
  }

  /*Mobile version*/
  @media (max-width: 767px) {
    .col-sm-12 {
      float: left;
      padding: 15px;
      width: 100%;
    }
  }